<!DOCTYPE html>
<html lang="en" ng-app="quizApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz</title>
    <link rel="stylesheet" href="./semantic/semantic.min.css">
</head>
<body  ng-controller="quizAppController as quizController">
    <div class="ui placeholder huge segment" style="height: 100vh;" ng-show="quizController.startQuizFlag">
        <div class="ui icon header">
            <i class="question  icon"></i>
        </div>
    <div class="ui primary huge button" id="play" ng-click="quizController.start()">START QUIZ</div>
    </div>
    <div class="ui placeholder huge segment" style="height: 100vh;" ng-show="quizController.startQuizTimer">
            <div class="ui icon huge header" >
               <h1 ng-style="quizController.timerStyle">{{quizController.timer}}</h1> 
            </div>
    </div>

    <div class="ui placeholder huge segment" style="height: 100vh;" ng-show="quizController.showQuestion">
                <h1></h1>
                <button class="ui right floated massive teal button" style="position: fixed;right: 1em;top: 1em;">{{quizController.quizQuestionTime+1}}</button>
                <h1 ng-bind-html="questionTitle" style="font-size:2em;"></h1> 
                <img class="ui centered huge image" src="{{image}}" alt="" ng-if="image">
    </div>
            <table class="ui huge celled inverted table" ng-show="quizController.showDashboard">
                    <thead>
                      <tr><th>Name</th>
                      <th>Score</th>
                      <th>Time Taken</th>
                    </tr></thead>
                    <tbody>
                      <tr>
                        <td data-label="Name">James</td>
                        <td data-label="Age">24</td>
                        <td data-label="Job">Engineer</td>
                      </tr>
                    </tbody>
                  </table>
    
          
    <script src="angular.js"></script>
    <script src="angular-sanitize.min.js"></script>
    <script src="./node_modules/timer.js/dist/timer.min.js"></script>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./semantic/semantic.min.js"></script>
    <script src="socket.io.js"></script>
    <script src="lodash.min.js"></script>
    <script src="socket.js"></script>
    <script src="./script.js"></script>
    
</body>
</html>